@use "sass:math";



// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$l-inner: 1000px;
$l-inner-short: 600px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 10px;
$padding-sp-long: 40px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

////////////////////
// フォント設定
////////////////////

$base-font-family: "メイリオ";
$second-font-family: "";

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #333;
$grey: #DEDEDE;
$white: #fff;
$light-blue: #F4F9FF;

////////////////////
// body
////////////////////

// ※検証ツールでしっかり反映されているか確認する
body {
  font-family: $base-font-family;
  background: $light-blue;
}

// @if $startFrom == sp {
//   //768px以上を表示
//   .u-desktop {
//     display: none;
//     @include mq("md") {
//       display: block;
//     }
//   }

//   //モバイルのみ表示
//   .u-mobile {
//     @include mq("md") {
//       display: none;
//     }
//   }
// } @else {
//   //768px以上を表示
//   .u-desktop {
//     display: block;
//     @include mq("md") {
//       display: none;
//     }
//   }

//   //モバイルのみ表示
//   .u-mobile {
//     display: none;
//     @include mq("md") {
//       display: block;
//     }
//   }
// }
