<div class="p-book-info">
    <div class="p-book-info__title">
        <%- include('../component/_c-title' ,{title:'タイトルタイトルタイトル'}) %>
    </div>
    <div class="p-book-info__info">
        <%- include('../component/_c-book-info') %>
    </div>
    <div class="p-book-info__text">
        <%- include('../component/_c-text' ,{text:'テキストテキストテキストテキストテキストテ キスト テキストテキストテキストテキストテ キストテキスト'}) %>
    </div>
    <div class="p-book-info__link">
        <%- include('../component/_c-link' ,{link:'', text:'オンラインストアで見る'}) %>
    </div>
</div>