<div class="p-detail l-inner-short">
    <div class="p-detail__title">
        <%- include('../component/_c-title', {title:'DETAIL'}) %>
    </div>
    <div class="p-detail__content">
        <div class="p-detail__img">
            <img src="./assets/images/common/detail.jpg" alt="detailのイメージ画像">
        </div>
        <div class="p-detail__book-info">
            <%- include('../project/_p-book-info') %>
        </div>
    </div>
</div>
