<div class="l-inner">
    <div class="p-index">
        <div class="p-index__title">
            <%- include('../component/_c-title', {title:'INDEX'}) %>
        </div>
        <div class="p-index__list">
            <%- include('../component/_c-list') %>
        </div>
    </div>
</div>