<% const list = [{
        title: 'タイトルタイトルタイトルタイトルタイト ルタイトルタイトルタイトル'
    }, {
        title: 'タイトルタイトルタイトルタイトルタイト ルタイトルタイトルタイトル'
    }, {
        title: 'タイトルタイトルタイトルタイトルタイト ルタイトルタイトルタイトル'
    }, {
        title: 'タイトルタイトルタイトルタイトルタイト ルタイトルタイトルタイトル'
    }, {
        title: 'タイトルタイトルタイトルタイトルタイト ルタイトルタイトルタイトル'
}];
%>

<ol class="c-list">
    <% list.forEach(function(value, index) { %>
        <li class="c-list__item"><%= index + 1 %>. <%= value.title %></li>
    <% }) %>
</ol>

